@charset "utf-8";

@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-display: swap;
    src: local("Pretendard Bold"),
        url("../font/Pretendard-Bold.woff2") format("woff2"),
        url("../font/Pretendard-Bold.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-display: swap;
    src: local("Pretendard SemiBold"),
        url("../font/Pretendard-SemiBold.woff2") format("woff2"),
        url("../font/Pretendard-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 500;
    font-display: swap;
    src: local("Pretendard Medium"),
        url("../font/Pretendard-Medium.woff2") format("woff2"),
        url("../font/Pretendard-Medium.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-display: swap;
    src: local("Pretendard Regular"),
        url("../font/Pretendard-Regular.woff2") format("woff2"),
        url("../font/Pretendard-Regular.woff") format("woff");
}


:root {
    --primary-95: #520000;
    --primary-90: #940808;
    --primary-80: #C00000;
    --primary-70: #DB0000;
    --primary-60: #FF0000;
    --primary-50: #FF1F1F;
    --primary-40: #FF5454;
    --primary-30: #FF9292;
    --primary-20: #FFBFBF;
    --primary-10: #FFDCDC;
    --primary-5: #FFEFEF;
    --white: #FFFFFF;
    --black: #000000;
    --shark-95: #222222;
    --shark-90: #3D3D3D;
    --shark-80: #454545;
    --shark-70: #4F4F4F;
    --shark-60: #5D5D5D;
    --shark-50: #6D6D6D;
    --shark-40: #888888;
    --shark-30: #B0B0B0;
    --shark-20: #D1D1D1;
    --shark-10: #E7E7E7;
    --shark-5: #F6F6F6;
    --red: #CE1B2B;
    --bg-rgb: #F8F7F4;
    --white: white;
    --font-sans-serif: "Pretendard", sans-serif;
    --text-xxl: 24px;
    --text-xl: 20px;
    --text-lg: 16px;
    --text-md: 14px;
    --text-sm: 13px;
    --text-mn: 12px;
    --gt-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --bs-gutter-x: 20px;
    --bs-gutter-y: 20px;
}

* {
    box-sizing: border-box;
}

:root,
html {
    font-size: 16px;
}

body {
    background: var(--white);
    font-family: var(--font-sans-serif);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 1.4;
    height: calc(var(--vh, 1vh) * 100);
    margin: 0;
    min-height: 100vh;
    position: relative;
    scroll-behavior: smooth;
    transition: opacity 1s ease-in-out;
}

body.loaded {
    opacity: 1;
}

a {
    text-decoration: none;
}

dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
    margin: 0;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

button,
input,
textarea,
select {
    font-family: var(--font-family);
}

input:focus,
input:hover {
    outline: none;
}

input:disabled {
    background: var(--shark-10);
}

textarea {
    overflow: auto;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

@media (min-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 2rem;
    }
}

.row {
    --bs-gutter-x: 1.25rem;
    --bs-gutter-y: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x))
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y)
}

.col {
    flex: 1 0 0%
}

.col-1 {
    flex: 0 0 auto;
    width: 8.33333333%
}

.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%
}

.col-3 {
    flex: 0 0 auto;
    width: 25%
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%
}

.col-5 {
    flex: 0 0 auto;
    width: 41.66666667%
}

.col-6 {
    flex: 0 0 auto;
    width: 50%
}

.col-7 {
    flex: 0 0 auto;
    width: 58.33333333%
}

.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%
}

.col-9 {
    flex: 0 0 auto;
    width: 75%
}

.col-10 {
    flex: 0 0 auto;
    width: 83.33333333%
}

.col-11 {
    flex: 0 0 auto;
    width: 91.66666667%
}

.col-12 {
    flex: 0 0 auto;
    width: 100%
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
}

.wrap {
    display: flex;
    min-width: 1400px;
}

.wrap.vertical {
    flex-direction: column;
}

/* **************************************** *
 * asdie
 * **************************************** */
.aside {
    align-items: center;
    border-right: 1px solid var(--shark-10);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 64px;
}

.aside img {
    height: 30px;
    margin: 20px 0;
    width: 30px;
}

.aside ul {
    display: flex;
    flex-direction: column;
}

.aside ul li a {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 16px 8px;
}

.aside ul li p {
    color: var(--Shark-400, #888);
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.aside ul.bottom {
    gap: 12px;
    margin: auto 0 0 0;
}

.aside ul.bottom li a {
    padding: 0;
}

/* **************************************** *
 * header 
 * **************************************** */
.header {
    align-items: center;
    display: flex;
    height: 68px;
    width: 100%;
}

.header .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header img {
    height: 40px;
}

.header ul {
    align-items: center;
    display: flex;
}

.header ul li {
    align-items: center;
    display: flex;
}

.header ul li::after {
    background: var(--Shark-300, #B0B0B0);
    content: '';
    display: inline-block;
    height: 12px;
    margin: 0 12px;
    width: 1px;
}

.header ul li:last-child::after {
    display: none;
}

.header ul li a {
    color: var(--Shark-950, #222);
    font-size: 14px;
    font-weight: 400;
}

.sub-header {
    align-items: center;
    border-bottom: 1px solid var(--shark-10);
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    height: 66px;
    padding: 0 20px;
    width: 100%;
}

.sub-header img {
    height: 40px;
}

.sub-header p {
    color: var(--Shark-800, #454545);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.sub-header p span {
    color: var(--primary-80);
    font-weight: 700;
}

/* **************************************** *
 * footer
 * **************************************** */

.footer {
    background: var(--shark-5);
    padding: 36px 0;
}

.footer img {
    height: 16px;
}

.footer-info {
    margin: 24px 0 0 0;
}

.footer-info p {
    color: var(--Shark-500, #6D6D6D);
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
}

.footer-info p.mt-6 {
    margin: 24px 0 0 0;
}

/* **************************************** *
 * button
 * **************************************** */
.btn-group {
    display: flex;
    gap: 8px;
}

.btn-group.last button:first-child {
    width: 30%;
}

.btn {
    align-items: center;
    border: 0;
    border-radius: 8px;
    display: flex;
    gap: 12px;
}

.btn-md {
    padding: 12px 24px;
}

.btn-lg {
    padding: 12px 40px;
}

.btn-primary {
    background: var(--primary-80);
    border: 1px solid var(--primary-80);
    color: var(--white);
}

.btn-gray {
    background: var(--Shark-300, #B0B0B0);
    color: var(--white);
}


/* **************************************** *
 * input
 * **************************************** */

/* input */
.input-wrap {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.input-wrap.horizontal {
    flex-direction: row;
}

.input-group {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-group label {
    color: var(--Shark-800, #454545);
    font-size: 16px;
    font-weight: 500;
}

.input-group input {
    border: 1px solid var(--Shark-100, #E7E7E7);
    border-radius: 8px;
    padding: 12px 16px;
    width: 100%;
}

input::placeholder {
    color: var(--shark-30);
}

.input-group small {
    color: var(--red);
    font-size: 14px;
    font-weight: 400;
}

.check-wrap {
    align-items: center;
    display: inline-flex;
    gap: 32px;
}

.check-wrap.vertical {
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
}

.check-group {
    align-items: center;
    gap: 8px;
}

.check-group input {
    display: none;
}

.check-group label {
    align-items: center;
    color: var(--shark-80);
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    gap: 8px;
}

.check-group label::before {
    background: url(../img/ico/i-checkbox.png);
    background-size: cover;
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
}

.check-group input:checked+label::before {
    background: url(../img/ico/i-checkbox-checked.png);
    background-size: cover;
}

.radio-wrap {
    align-items: center;
    display: flex;
    gap: 40px;
}

.radio-group input {
    display: none;
}

.radio-group label::after {
    background: url(../img/ico/i-radio.png);
    background-size: cover;
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
}

.radio-group input:checked+label::after {
    background: url(../img/ico/i-radio-checked.png);
    background-size: cover;
}

.range-group {
    width: 100%;
}

.range-group input {
    width: 100%;
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
    background: linear-gradient(to right, var(--primary-60) 50%, var(--shark-10) 50%);
    height: 6px;
    border-radius: 100px;
}

.range-group input::-ms-fill-lower {
    background: var(--primary-60);
    border-radius: 100px;
}

/* Webkit 기반 브라우저 (Chrome, Safari) */
.range-group input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: url(../img/ico/i-circle.png);
    background-size: cover;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: -9px 0 0 0;
}

/* Webkit 기반 브라우저 (Chrome, Safari) 트랙 스타일링 */
.range-group input::-webkit-slider-runnable-track {
    background: var(--shark-10);
    height: 6px;
    border-radius: 100px;
}

.range-group input::-moz-range-thumb {
    background: url(../img/ico/i-circle.png);
    background-size: cover;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
}

.range-group input::-moz-range-track {
    background: var(--shark-10);
    height: 6px;
    border-radius: 100px;
}

.range-group input::-ms-thumb {
    background: url(../img/ico/i-circle.png);
    background-size: cover;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
}

.range-group input::-ms-track {
    background: var(--shark-10);
    height: 6px;
    border-radius: 100px;
    border: none;
    color: transparent;
}

.search-group {
    display: none;
    position: relative;
    margin: 80px auto 0 auto;
    width: 460px;
}

.search-group.active {
    display: block;
}

.search-group input {
    align-items: center;
    background: var(--white);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
    border-radius: 100px;
    border: 0;
    color: var(--shark-700);
    display: flex;
    justify-content: space-between;
    line-height: 20px;
    padding: 16px 24px;
    width: 460px;
}

.search-group input::placeholder {
    color: var(--Shark-300, #B0B0B0);
    font-size: 16px;
    font-weight: 400;
}

.search-group button {
    background: none;
    border: 0;
    position: absolute;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
}

.select-group {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.select-group label {
    color: var(--Shark-800, #454545);
    font-size: 16px;
    font-weight: 500;
}

.select-group select {
    background: url(../img/ico/i-arrow-down.png) no-repeat 50%/16px;
    background-position: right 16px center;
    border: 1px solid var(--Shark-100, #E7E7E7);
    border-radius: 8px;
    padding: 12px 16px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-group select:focus {
    outline: none;
}

.date-group {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.date-group label {
    align-items: center;
    color: var(--Shark-800, #454545);
    display: flex;
    font-size: 16px;
    font-weight: 500;
    gap: 8px;
}

.date-group input {
    background: url(../img/ico/i-calendar.png) no-repeat 50%/20px;
    background-position: right 16px center;
    border: 1px solid var(--Shark-100, #E7E7E7);
    border-radius: 8px;
    color: var(--shark-80);
    padding: 12px 16px;
    position: relative;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.date-group input:disabled {
    background: var(--shark-5);
}

.date-group input::-webkit-date-and-time-value {
    text-align: left;
}

.date-group input[type="date"]::-webkit-datetime-edit-text,
.date-group input[type="date"]::-webkit-datetime-edit-month-field,
.date-group input[type="date"]::-webkit-datetime-edit-day-field,
.date-group input[type="date"]::-webkit-datetime-edit-year-field {
    -webkit-appearance: none;
    display: none;
}

.date-group input[type="date"]::-webkit-calendar-picker-indicator,
.date-group input[type="time"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}

.date-group input[type="date"]::before {
    color: var(--pass-gray);
    content: attr(placeholder);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.date-group input[type="date"]:valid::before {
    display: none;
}

.date-group input[type="date"]:valid::-webkit-datetime-edit-text,
.date-group input[type="date"]:valid::-webkit-datetime-edit-month-field,
.date-group input[type="date"]:valid::-webkit-datetime-edit-day-field,
.date-group input[type="date"]:valid::-webkit-datetime-edit-year-field {
    -webkit-appearance: unset;
    display: unset;
}

/* **************************************** *
 * MODAL
 * **************************************** */
.modal-wrap {
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.modal-wrap.active {
    display: flex;
}

.modal-inner {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.modal-content {
    background-color: #fff;
    border-radius: 16px;
    margin: 0 20px;
    width: 552px;
    opacity: 0;
    position: relative;
    transform: translateY(-50px);
    text-align: center;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.modal-wrap.active .modal-content {
    opacity: 1;
    transform: translateY(0);
}

/* 추가된 스타일: 애니메이션 초기화 */
.modal-wrap.active .modal-inner {
    animation: modalSlideDown 0.5s ease;
}

@keyframes modalSlideDown {
    from {
        transform: translateY(-30px);
    }

    to {
        transform: translateY(0);
    }
}

.modal-header {
    align-items: center;
    border-bottom: 1px solid var(--shark-10);
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
}

.modal-header button {
    background: none;
    border: 0;
    padding: 0;
}

.modal-title {
    color: var(--black-950);
    font-size: 20px;
}

.modal-body {
    padding: 20px 24px;
}

.modal-body .input-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.modal-footer {
    align-items: center;
    border-top: 1px solid var(--shark-10);
    display: flex;
    padding: 16px 24px;
    justify-content: center;
}

.modal-footer button {
    font-weight: 700;
    justify-content: center;
    width: 200px;
}

.accordion {
    width: 100%;
}

.accordion-item {
    overflow: hidden;
    width: 100%;
}

.accordion-header {
    align-items: center;
    background: none;
    border: none;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

.accordion-header h2 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
}

.accordion-header.active i {
    transform: rotate(180deg);
}

.accordion-content {
    border-top: 1px solid var(--shark-10);
    display: none;
    flex-direction: column;
    /* gap: 16px; */
    padding: 20px 0 0 0;
}

.accordion-content .box-body {
    margin: 0 20px 20px 20px;
}

.accordion-content.b-none {
    border: 0;
}

.accordion-content.p-none {
    padding: 0;
}

.accordion-content p {
    margin: 0;
}

.accordion-content h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 0 20px;
}

.tab-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.tabs {
    display: flex;
    gap: 8px;
    margin: 20px 0 0 0;
    padding: 0 20px;
}

.tabs.m-none {
    margin: 0;
}

.tab {
    background: none;
    border-radius: 8px;
    cursor: pointer;
    color: var(--Shark-400, #888);
    font-size: 15px;
    font-weight: 500;
    padding: 4px 12px;
}

.tab.active {
    background: var(--Shark-50, #F6F6F6);
    color: var(--Shark-950, #222);
}

.tab-content {
    border-top: 1px solid var(--shark-10);
    display: none;
    flex-direction: column;
}

.tab-content.b-none {
    border: 0;
}

.tab-content .dl-group {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding: 0 20px 20px 20px;
}

.tab-content .dl-group dl {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tab-content .dl-group dl dt {
    color: var(--Shark-800, #454545);
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

.tab-content .dl-group dl dd {
    color: var(--Shark-800, #454545);
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    text-align: right;
}

.tab-content .dl-group dl.w-50 {
    width: calc(50% - 4px);
}

.tab-content .btn-group {
    border-top: 1px solid var(--shark-10);
    padding: 20px;
}

.tab-content .btn-group button {
    font-size: 16px;
    font-weight: 700;

    justify-content: center;
    width: 100%;
}

.tab-content.active {
    display: flex;
}

.custom-tabs .tabs {
    gap: 12px;
}

.custom-tabs .custom-tab {
    background: var(--Shark-50, #F6F6F6);
    border-radius: 100px;
    color: var(--shark-50);
    font-size: 15px;
    font-weight: 400;
    padding: 4px 12px;
}

.custom-tabs .custom-tab.active {
    background: var(--primary-80);
    color: var(--white);
}

.custom-tab-content {
    display: none;
    flex-direction: column;
    padding: 20px 0;
}

.custom-tab-content.active {
    display: flex;
}

.custom-tab-content>.check-wrap {
    padding: 0 20px;
}

.custom-tab-content .dl-group {
    padding: 0 20px 20px 20px;
}

.custom-tab-content .dl-group dl dt,
.custom-tab-content .dl-group dl dd {
    width: 50%;
}

.custom-tab-content .dl-group dl dd {
    text-align: left;
}

.custom-tab-content .dl-group dt.pl-5 {
    padding-left: 20px;
}